.header {
    background-color: #0D0908;
    height: 70px;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .linklogo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 18px;
}

.navbar a .logo {
    display: flex;
    align-items: center;
    justify-content: center;

}

.navbarmenu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 18px;
}

.navbarmenu .Ulliste {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    margin-left: 50px;
    transition: all .3s linear;
    opacity: 1;
    visibility: visible;
    z-index: 2;
}

.navbarmenu .active {
    opacity: 0;
    visibility: hidden;
}

.navbarmenu .Ulliste li {
    list-style: none;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
}

.navbarmenu .Ulliste li a {
    margin-right: 30px;
    color: #FFFFFF;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;

}

.navbarmenu .Ulliste li:nth-child(3) a .itemNavbar {
    position: absolute;
    top: 60px;
    width: 194px;
    height: 119px;
    background-color: #0D0908;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    flex-direction: column;
    text-align: center;
    padding-left: 20px;
    opacity: 0;
    visibility: hidden;
    transition: all .3s linear;
    margin-left: 100px;


}

.navbarmenu .Ulliste li:nth-child(4) a .itemNavbar {
    position: absolute;
    top: 60px;
    width: 180px;
    height: 139px;
    background-color: #0D0908;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    flex-direction: column;
    text-align: right;
    padding: 5px;
    opacity: 0;
    visibility: hidden;
    transition: all .3s linear;
    margin-left: 100px;

}

.navbarmenu .Ulliste li:nth-child(4) a .itemNavbar li {
    margin-left: 28px;
}

.navbarmenu .Ulliste li:nth-child(5) a .itemNavbar {
    position: absolute;
    top: 60px;
    width: 146px;
    height: 304px;
    background-color: #0D0908;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    flex-direction: column;
    text-align: center;
    padding: 5px;
    opacity: 0;
    visibility: hidden;
    transition: all .3s linear;
    margin-left: 110px;
    padding-left: 28px;
}

.navbarmenu .Ulliste li:nth-child(3):hover a .itemNavbar {
    opacity: 1;
    visibility: visible;
}

.navbarmenu .Ulliste li:nth-child(4):hover a .itemNavbar {
    opacity: 1;
    visibility: visible;
}

.navbarmenu .Ulliste li:nth-child(5):hover a .itemNavbar {
    opacity: 1;
    visibility: visible;
}


.navbarmenu .Ulliste li:hover:nth-child(1) a:after {
    content: "";
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    top: 24px;
    border-bottom: 3px solid #FFB51F;
}

.navbarmenu .Ulliste li.active:nth-child(1) a:after {
    content: "";
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    top: 24px;
    border-bottom: 3px solid #FFB51F;
}

.navbarmenu .Ulliste li:hover:nth-child(2) a:after {
    content: "";
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    top: 24px;
    border-bottom: 3px solid #FFB51F;
}

.navbarmenu .Ulliste li.active:nth-child(2) a:after {
    content: "";
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    top: 24px;
    border-bottom: 3px solid #FFB51F;
}

.navbarmenu .Ulliste li:hover:nth-child(6) a:after {
    content: "";
    width: 41px;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    border-bottom: 3px solid #FFB51F;
    top: 24px;
}

.navbarmenu .Ulliste li.active:nth-child(6) a:after {
    content: "";
    width: 41px;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    border-bottom: 3px solid #FFB51F;
    top: 24px;
}

.navbarmenu .Ulliste li a .itemMenu {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbarmenu .Ulliste li a .itemMenu img {
    width: 8px;
    margin-left: 10px;
}

.mobile {
    display: none;
}

.itemMenuResponsvie {
    margin-top: 18px;
    cursor: pointer;
}

@media (max-width: 490px) {
    .navbarmenu .Ulliste {
        flex-direction: column;
        transition: all .3s linear;
        position: fixed;
        background-color: #0D0908;
        width: 100%;
        right: 0;
        height: 100vh;
        top: 70px;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
        opacity: 1;
        visibility: visible;
        z-index: 2;

    }

    .navbarmenu .Ulliste li a .itemMenu img {
        display: none;
    }

    .navbarmenu .Ulliste li:nth-child(3) a .itemNavbar {
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
        position: relative;
        top: 8px;
        right: 47px;
        background-color: transparent;
        display: none;

    }

    .navbarmenu .Ulliste li:nth-child(4) a .itemNavbar {
        position: relative;
        width: 182px;
        margin: 0;
        left: 0;
        right: 0;
        top: 0;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
        margin-top: 10px;
        display: none;

    }

    .navbarmenu .Ulliste li:nth-child(5) a .itemNavbar {
        position: relative;
        background-color: transparent;
        align-items: center;
        justify-content: space-evenly;
        left: 0;
        right: 0;
        top: 0;
        margin: 0;
        display: none;
        height: 190px;
    }

    .navbarmenu .Ulliste li:nth-child(5) a .itemNavbar li {
        margin-top: 10px;
    }

    .navbarmenu .active {
        opacity: 0;
        visibility: hidden;
    }

    .mobile {
        display: block;
        z-index: 10000;
    }

    .itemMenuResponsvie {
        margin-right: 10px;
    }

    .navbarmenu .Ulliste li {

    }
}

.footer {
    display: flex;
    background-color: #0D0908;
    width: 100%;
    height: 445px;
    align-items: center;
    justify-content: space-between;
    margin-top: 0;

}

.footer .itemFooter {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer .itemFooter .titles {

}

.footer .itemFooter .titles a {

}

.footer .itemFooter .titles a img {
    width: 53px;
    height: 53px;
}

.footer .itemFooter .titles .textfooter {
    width: 300px;
    height: 85px;
    margin-top: 15px;
}

.footer .itemFooter .titles .textfooter p {
    font-size: 16px;
    color: #FFFFFF;
}

.footer .itemFooter .titles .footertextend {
    width: 200px;
    height: 77px;
    margin-top: 30px;
}

.footer .itemFooter .titles .footertextend span {
    font-size: 14px;
    color: #d5d2d2;
}

.itemMenufooter {
    display: flex;
}

.itemMenufooter .menuFooter {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.itemMenufooter .menuFooter .ulListe {
    margin-right: 80px;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    width: 100px;
    height: 250px;
}

.itemMenufooter .menuFooter .ulListe h3 {
    color: #FFFFFF;
    font-size: 14px;
    font-weight: bold;
}

.itemMenufooter .menuFooter .ulListe .p {
    color: #FFFFFF;
    font-size: 14px;
    font-weight: bold;
    padding-top: 25px;
}

.itemMenufooter .menuFooter .ulListe .itemLI {
    margin-top: 18px;
}

.itemMenufooter .menuFooter .ulListe .itemLI .titlemenu {
    font-weight: bold;
}

.itemMenufooter .menuFooter .ulListe .itemLI .Listeitems {
    margin-left: 10px;
    margin-top: 10px;

}

.itemMenufooter .menuFooter .ulListe .itemLI .Listeitems li {
    margin-top: 10px;
}

.itemMenufooter .menuFooter .ulListe .itemLI .Listeitems li a {
    font-size: 12px;
    color: #d5d2d2;

}

.itemMenufooter .menuFooter .ulListe li a {
    color: #FFFFFF;
    font-size: 14px;
    text-decoration: none;
}

.itemMenufooter .menuFooter .ULlisteEnd {
    list-style: none;
    margin-right: 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    width: 100px;
    height: 260px;
}

.itemMenufooter .menuFooter .ULlisteEnd .p {
    color: #FFFFFF;
    font-size: 14px;
    font-weight: bold;
}

.itemMenufooter .menuFooter .ULlisteEnd h3 {
    color: #FFFFFF;
    font-size: 14px;
    font-weight: bold;
    padding-top: 20px;

}

.itemMenufooter .menuFooter .ULlisteEnd li {
    margin-left: 10px;
    margin-top: 15px;
}

.itemMenufooter .menuFooter .ULlisteEnd li a {
    font-size: 12px;
    color: #d5d2d2;
    text-decoration: none;
}

.linkpages {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.linkpages h3 {
    font-size: 20px;
    font-weight: bold;
    color: #FFFFFF;
}

.linkpages .pageitems {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 150px;
    height: 129px;
    margin-top: 10px;
    flex-direction: column;
}

.linkpages .pageitems a {
    margin-right: 20px;
    margin-top: 13px;
    padding-top: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 46px;
}

@media (max-width: 490px) {
    .footer {
        height: auto;
    }

    .footer .itemFooter {
        display: flex;
        flex-direction: column;
    }

    .footer .itemFooter .titles {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-top: 90px;
    }

    .footer .itemFooter .titles .textfooter {
        width: 243px;
        height: 85px;
        margin-top: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
    }

    .footer .itemFooter .titles .footertextend {
        width: 200px;
        height: 77px;
        margin-top: 30px;
        text-align: center;
    }

    .itemMenufooter {
        flex-direction: column;
        width: 100%;
        height: auto;
    }

    .itemMenufooter .menuFooter {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        margin-top: 45px;
    }

    .itemMenufooter .menuFooter .ulListe {
        margin-right: 0;
        text-align: center;
        display: block;
    }

    .itemMenufooter .menuFooter .ULlisteEnd {
        margin-right: 0;
        text-align: center;
        display: block;
        margin-top: 25px;
    }

    .linkpages {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 60px;
        justify-content: center;

    }


}